@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  transition: all 300ms ease;
}

html {
  font-size: 12px;
}

body {
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

body {
  padding: 2rem;
  user-select: none;
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designs {
  display: none;
}

.box {
  display: none;
}

.mobile-art {
  position: absolute;
  top: -100px;
  max-width: 20rem;
  width: 100%;
}

.mobile-pattern {
  position: absolute;
  top: 10px;
}

.main--content {
  background: white;
  padding-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  border-radius: 25px;
  max-width: 372px;
  width: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  color: hsl(238, 29%, 16%);
  font-size: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: stretch;
  padding: 0 2rem;
  gap: 1rem;
  position: relative;
  width: 100%;
}
.content label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  font-size: 1.1rem;
}
.content .answer {
  display: none;
  max-width: 38ch;
  transition: all 300ms ease-in;
}
.content .answer span {
  line-height: 1.5rem;
  color: hsl(240, 6%, 50%);
}

.content::after {
  content: " ";
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: -2px;
  height: 0.1rem;
  background: hsl(240, 5%, 91%);
}

input[type=checkbox] {
  visibility: collapse;
}

input[type=checkbox]:checked ~ label {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

input[type=checkbox]:checked ~ label img {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}

input[type=checkbox]:not(:checked) ~ label img {
  transition: transform 300ms ease-in-out;
}

input[type=checkbox]:checked ~ .answer {
  display: block;
}

label:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

@media only screen and (min-width: 1366px) {
  @keyframes animateBox {
    from {
      top: 41%;
    }
    to {
      top: 45%;
      transform: translateX(-10%);
    }
  }
  @keyframes animateArt {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(10%);
      transform: translateZ(-10%);
    }
  }
  .mobile-art {
    display: none;
  }
  .mobile-pattern {
    visibility: hidden;
  }
  .main-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    border-radius: 20px;
    background: white;
    padding: 4rem 10rem;
    width: 923px;
    min-height: 509px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    z-index: 1;
    overflow: visible;
    clip-path: fill-box;
    overflow-clip-margin: 30px;
  }
  .designs {
    display: block;
    position: relative;
  }
  .pattern-desktop {
    position: absolute;
    width: 200%;
    left: -126%;
    top: -100%;
  }
  .mobile-art-desktop {
    position: relative;
    left: -28%;
    z-index: 1;
  }
  .box {
    display: block;
    position: absolute;
    left: -93px;
    top: 41%;
    z-index: 2;
  }
  .main--content {
    padding: 3rem 0;
    width: 352px;
    padding-right: 94px;
    min-height: 352px;
  }
  .main--content .contents {
    padding-left: 2rem;
    width: 32em;
  }
  .main--content .contents label {
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  .main--content .contents h1 {
    align-self: flex-start;
    padding-bottom: 1rem;
  }
  .main--content .contents .content {
    width: 352px;
    padding: 0;
  }
  .main--content .contents .content .answer {
    max-width: 50ch;
  }
  .main--content .contents .content::after {
    left: 0;
    right: 0rem;
  }
}